@use "../../theme/style" as *;

.gistCard {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  width: 410px;
  height: 280px;

  &:hover .fileContent {
    border: 1px solid $primary-color;
  }

  &:hover .actions {
    display: flex;
  }
}

.fileContent {
  background-color: #f5f5f5;
  border-radius: 5px 5px 0 0;
  width: 100%;
  height: 100%;
}

.details {
  padding: 8px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

  h4 {
    color: $primary-color;
    font-weight: 500;
    font-size: 14px;
  }

  p {
    color: #7a7a7a;
    font-size: 11px;
  }
}

.cardFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  border-top: 1px solid #ccc;
  width: 100%;
}

.actions {
  display: none;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
