@use "../../theme/style" as *;

.navbar {
  background-color: $primary-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 32px;
  box-shadow: $box-shadow;
}

.navItems {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.navButton {
  background-color: $secondary-color;
  color: $primary-color;
  height: 40px;
  font-weight: bold;
}

.navSearch {
  background-color: transparent;
  border: 1px solid $secondary-color;
  height: 40px;
  width: 300px;
  color: $secondary-color;
  opacity: 0.7;

  &:focus-within {
    opacity: 1;
  }
}

.userAvatar {
  cursor: pointer;
}

// Ant Overrides

.navbar :global(.ant-btn) {
  &:hover {
    background-color: $secondary-color !important;
    color: $primary-color !important;
    opacity: 0.95 !important;
  }
}

.navbar :global(.ant-input-affix-wrapper) {
  background-color: transparent !important;
  border: 1px solid $secondary-color !important;
  color: $secondary-color !important;
}

.navbar :global(.ant-input) {
  margin-left: 4px;
  font-family: "Inter", sans-serif;

  &::placeholder {
    color: $secondary-color !important;
  }
}
